@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@keyframes nav-hover {
  0% {
    background-color: transparent;
    color: #c38b84;
    opacity: 0.9;
  }
  100% {
    background-color: #c38b84;
    color: #f0ede8;
    opacity: 1;
  }
}
@keyframes resaltar {
  0% {
    color: #111;
  }
  50% {
    color: rgb(166, 153, 83);
  }
  100% {
    color: #111;
  }
}
body {
  background-color: #eff6fe;
  background-image: url(../assets/img/background-web.png);
  background-size: cover;
}

h1 {
  font-family: "IM Fell English SC";
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  padding: 15px 0 5px 0;
}

h2 {
  font-family: "IM Fell English SC";
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

h3 {
  font-family: "IM Fell English SC";
}

p {
  font-family: "Special Elite";
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

img {
  width: 100%;
}

.titulo-section {
  background-color: #a8a77a;
  color: #f0ede8;
  padding: 5px 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #777;
}
.titulo-section h1 {
  font-size: 2rem;
}

.border, .item-evento img, .img-nosotras {
  border: 1px ridge #777;
}

.presentacion-proyecto {
  padding: 20px 30px;
}
.presentacion-proyecto p {
  margin-bottom: 2px;
}
.presentacion-proyecto p:hover {
  animation-name: resaltar;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

.titulos-inicio img {
  max-width: 400px;
}

.fondo-inicio {
  padding-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.fondo-blanco, .formulario-contacto, .nuevo-evento, .invitados {
  background-color: #fff;
  border: 1px ridge #777;
  box-shadow: 1px 2px 3px #ccc;
  align-items: center;
}

.navbar-edit {
  background-color: #eff6fe;
  color: #c38b84;
  border-bottom: 1px solid #777;
}
.navbar-edit a {
  color: #c38b84;
  font-family: "Special Elite";
  text-transform: none;
  font-size: 16px;
  padding: 2px;
  opacity: 0.8;
}
.navbar-edit a:hover {
  opacity: 1;
  color: #c38b84;
}
.navbar-edit .nav-link.active {
  text-decoration: none;
  background-color: #c38b84;
  color: #fff;
}
.navbar-edit .navbar-brand {
  max-width: 100px;
}
.navbar-edit .navbar-brand:hover {
  text-decoration: none;
}

.btn-edit, .btn-inactivo {
  background-color: #a8a77a;
  border: #ccc;
  color: #fff;
  opacity: 0.9;
}
.btn-edit:hover, .btn-inactivo:hover {
  opacity: 1;
  border: #a49e9e;
  color: #fff;
  background-color: #a8a77a;
}

.btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  background-color: #a8a77a;
  color: #fff;
}

.btn-inactivo {
  background-color: grey;
  color: #ccc;
  opacity: 1;
}
.btn-inactivo:hover {
  background-color: grey;
  color: #ccc;
  opacity: 1;
  cursor: default;
}

.active {
  animation-name: nav-hover;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
}
.redes-sociales a {
  text-decoration: none;
  max-width: 50px;
  margin-right: 2px;
  opacity: 0.8;
}
.redes-sociales a:hover {
  opacity: 1;
}

.organizadora {
  text-align: left;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  margin: 20px 0;
}
.organizadora:nth-child(2) {
  text-align: right;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  margin: 20px 0;
}

.img-nosotras {
  box-shadow: 1px 2px 3px #ccc;
  padding: 2px;
}

.titulos-org {
  color: #c38b84;
}

.invitados {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0 50px 0;
  margin: 10px 0 0 0 0;
}
.invitados img {
  max-width: 200px;
  margin: 5px;
}

.item-evento {
  padding: 25px;
}
.item-evento img {
  padding: 2px;
  box-shadow: 1px 2px 3px #ccc;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
.item-evento p {
  font-size: 1rem;
  color: #111;
  text-align: justify;
  margin-bottom: 0;
}
.item-evento p:nth-child(2) {
  background-color: #c38b84;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  text-align: right;
  margin-top: 3px;
  padding: 4px 4px 0 0;
}

.nuevo-evento img {
  max-width: 25px;
}

.nuevo-evento {
  padding: 20px;
  color: #a8a77a;
}
.nuevo-evento span {
  font-weight: 700;
  color: #111;
}
.nuevo-evento p {
  margin: 0px;
}

.mes-anio {
  font-size: 2rem;
  background-color: #d48b56;
  border-bottom: 1px solid #777;
  color: #eff6fe;
  text-transform: lowercase;
  padding: 2px;
  margin-bottom: 0;
  text-align: center;
}

.num-día {
  color: #111;
  font-size: 4rem;
  margin-bottom: 0;
  padding-top: 20px;
  text-align: center;
}

.fecha-prox-evento {
  padding: 0;
  border: 1px solid #777;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

.datos-evento {
  color: #111;
}

.reserva {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.entrada {
  color: #c38b84;
  text-align: right;
  padding-top: 10px;
}
.entrada span {
  color: #c38b84;
}

.hora-lugar div {
  flex-wrap: nowrap;
  text-align: left;
  padding: 0;
  padding-left: 15px;
}
.hora-lugar div:nth-child(2) {
  margin: 0;
  padding: 4px 0;
}

.finalizado {
  opacity: 0.7;
}

.formulario-contacto {
  font-family: "Special Elite";
  align-items: center;
  margin: 30px 0px;
  padding: 30px;
}
.formulario-contacto input {
  color: #777;
}

.logo-contacto {
  padding: 50px;
  opacity: 0.9;
}

.datos-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #a8a77a;
  padding: 15px 0;
  border-top: 1px solid #777;
}
footer p {
  color: #f0ede8;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .presentacion-proyecto {
    text-align: center;
  }
  .redes-sociales {
    justify-content: center;
  }
  .nosotras p {
    text-align: center;
  }
  .nosotras h2 {
    text-align: center;
  }
  .item-evento {
    text-align: center;
  }
  .item-evento img {
    height: 400px;
    object-position: top;
  }
  .fondo-inicio img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }
}
@media (max-width: 991px) {
  .navbar-edit {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .navbar-edit a {
    font-size: 18px;
    padding: 2px 4px;
    margin: 4px 0;
  }
}
@media (max-width: 1200px) {
  .hora-lugar div:nth-child(2) {
    padding: 2px 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
