@use '../utilities/maps' as *;

@keyframes nav-hover{
    0% {
        background-color: transparent;
        color: map-get($colors, primario);
        opacity: 0.9;
    }
    100% {
        background-color: map-get($colors, primario);
        color: map-get($colors, txt-i);
        opacity: 1;
    }
}

@keyframes resaltar{
    0% {
        color:#111;
    }
    50%{
        color: rgb(166, 153, 83);
    }
    100% {
        color:#111;
    }
}