$colors: (
    primario:#c38b84,
    secundario:#a8a77a,
    bg:#eff6fe,
    txt:#111,
    txt-i:#f0ede8,
    border:#777,
    shadow: #ccc
);

$font-sizes: (
    s:0.9rem,
    m:2rem,
    l:3rem,
    xl:4rem
);
