//COLORES
$bg-color:#eff6fe;
$txt-color: #111;
$txt-color-inverso: #f0ede8;
$color-primario:#c38b84;
$color-secundario: #a8a77a;
$border-color: #777;
$shadow-color: #ccc;

//TAMAÑOS
$txt-s:0.9rem;
$txt-m:2rem;
$txt-l:3rem;
$txt-xl:4rem;