img{
    width: 100%;
}

body{
    background-color: #f0ede8;
}

h1{
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;  
    padding: 15px 0 5px 0;
}

h2{
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

p{
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.titulo-section{
    background-color: #a8a77a;
    color: #f0ede8;
    padding: 5px 15px;
    margin-bottom: 20px;
}

.titulo-section h1{
    font-size: 2rem;
}