@use '../utilities/maps' as *;
@use '../utilities/mixins' as *;
@use '../components/inicio' as *;

//AGENDA DE EVENTOS

.nuevo-evento{
    padding: 20px;
    @extend .fondo-blanco;
    color: map-get($colors, secundario);
    span{
        font-weight: 700;
        color: map-get($colors, txt);
    }
    p{
        margin: 0px;
    }
    img{
        width: 30px;
        margin: 0px 0 4px 0;
    }
}

.fecha-prox-evento{
    padding: 0;
    border: 1px solid map-get($colors, border);
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.mes-anio{
    font-size: map-get($font-sizes, m);
    background-color: #6f7c93;
    border-bottom: 1px solid map-get($colors, border);
    color: map-get($colors, bg);
    text-transform: lowercase;
    padding: 2px;
    margin-bottom: 0;
    text-align: center;
}

.num-dia{
    color: #111;
    font-size: map-get($font-sizes, xl);
    margin-bottom: 0;
    padding-top: 20px;
    text-align: center;
}

.datos-evento{
    color: #111;
}

.hora-lugar{
    align-items: center;
    div{
        flex-wrap: nowrap;
        text-align: left;
        padding: 0;
        padding-left: 15px;
        margin-top: 2px;
        &:nth-child(2) {
            margin: 0;
            padding: 4px 0;
        }
    }   
}

.entrada{
    color:map-get($colors, primario);
    text-align: right;
    padding-top: 10px;
    span{
        color:map-get($colors, primario);
        border: 2px solid map-get($colors, primario);
        padding: 5px 4px 2px 4px;
        margin: 4px 0;
    }
}

.reserva{
    @include flex(row, center);
    align-items: center;
    margin: 3px 0;
}

.finalizado{
    opacity: 0.7;
}