@use '../utilities/maps' as *;
@use '../utilities/mixins' as *;
@use '../components/inicio' as *;


.nuevo-evento img{
    max-width: 25px;
}

.nuevo-evento{
    padding: 20px;
    @extend .fondo-blanco;
    color: map-get($colors, secundario);

    span{
        font-weight: 700;
        color: map-get($colors, txt);
    }

    p{
        margin: 0px;

    }

}

.mes-anio{
    font-size: map-get($font-sizes, m);
    background-color: #d48b56;
    border-bottom: 1px solid map-get($colors, border);
    color: map-get($colors, bg);
    text-transform: lowercase;
    padding: 2px;
    margin-bottom: 0;
    text-align: center;
}

.num-día{
    color: #111;
    font-size: map-get($font-sizes, xl);
    margin-bottom: 0;
    padding-top: 20px;
    text-align: center;
}
.fecha-prox-evento{
    padding: 0;
    border: 1px solid map-get($colors, border);
    text-align: center;
    border-radius: 0 0 8px 8px;
}
.datos-evento{
    color: #111;
}

.reserva{
    @include flex(row, center);
    align-items: center;
}

.entrada{
    color:map-get($colors, primario);
    text-align: right;
    padding-top: 10px;
    span{
        color:map-get($colors, primario);
    }
}

.hora-lugar div{
    flex-wrap: nowrap;
    text-align: left;
    padding: 0;
    padding-left: 15px;

    &:nth-child(2) {
        margin: 0;
        padding: 4px 0;

    }
}

.finalizado{
    opacity: 0.7;
}