@use '../utilities/maps' as *;
@use '../utilities/mixins' as *;
@use '../components/inicio' as *;

.nuevo-evento{
    @extend .fondo-blanco;
    margin: 15px 0;
    padding: 20px 10px 10px 10px;
    display: flex;
    align-items: stretch; 

    span{
        font-weight: 700;
    }

    img{
        @extend .border;
        margin: 10px 0
    }
    p{
        margin: 0px;
    }
}

.fecha-prox-evento{
    @include flex(column, space-around);
    border: 1px solid map-get($colors, border);
    border-top:none;
    text-align: center;
    padding: 0;
    box-shadow: 1px 2px 2px map-get($colors, shadow);
}

.mes-anio{
    font-size: map-get($font-sizes, m);
    background-color: #464e5d;
    color: map-get($colors, bg);
    padding: 2px;
    border-bottom: 1px solid map-get($colors, border);
    margin-bottom: 0;
    text-transform: lowercase;
}

.num-día{
    font-size: map-get($font-sizes, xl);
    margin-bottom: 0;
}

.nuevo-evento {
    @include flex(row, stretch);

}

.reserva{
    @include flex(row, center);
    align-items: center;
}