@use '../utilities/maps' as *;
@use '../utilities/mixins' as *;
@use '../utilities/keyframes' as *;

.btn-edit{
    background-color: map-get($colors, secundario);
    border: #ccc;
    color: #fff;
    opacity: 0.9;

    &:hover{
        opacity: 1;
        border: #a49e9e;
        color: #fff;
        background-color:map-get($colors, secundario);
    }
}

.btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color:map-get($colors, secundario);
    color: #fff;
}

.btn-inactivo{
    @extend .btn-edit;
    background-color:grey;
    color:#ccc;
    opacity: 1;

    &:hover{
        background-color:grey;
        color:#ccc;
        opacity: 1;
        cursor: default;
    }
}

.active{
    animation-name: nav-hover;
    animation-iteration-count: 1;
    animation-timing-function: ease-in ;
    animation-duration: 0.3s;
}

.redes-sociales{
    @include flex(row,flex-start);
    padding-top: 20px;
    a{
        text-decoration: none;
        max-width: 50px;
        margin-right:2px;
        opacity: 0.8;
        
        &:hover{
            opacity: 1; 
        }
    }

}