@use '../utilities/maps' as *;
@use '../components/inicio' as *;

//ITEM EVENTO

.item-evento {
    padding: 25px;
    
    img{
        @extend .border;
        padding: 2px;
        box-shadow: 1px 2px 3px map-get($colors, shadow);
        height: 200px;
        object-fit: cover;
        object-position: top;
        border-radius: 10px;
    }
    p{  
        font-size: map-get($font-sizes, s);
        color: map-get($colors, txt);
        text-align: justify;
        margin-bottom: 0;
    }
    p:nth-child(2){
        background-color:#6f7c93ca;
        font-size: 10px;
        line-height: 12px;
        color: #fff;
        text-align: right;
        margin-top: 3px;
        padding: 4px 4px 0 0;
    }
}