@use '../utilities/variables' as *;

footer{
    background-color:$color-secundario;
    padding: 15px 0;
    border-top: 1px solid $border-color;
    p{
        color: $txt-color-inverso;
        text-align: center;
        margin-bottom: 0;
    }
}