@use '../utilities/maps' as *;

footer{
    background-color:map-get($colors, secundario);
    border-top: 1px solid map-get($colors, border);
    padding: 15px 0;
    
    p{
        color: map-get($colors, txt-i);
        text-align: center;
        margin-bottom: 0;
    }
}