@use '../utilities/maps' as *;
@use '../components/inicio' as *;

.contacto {
        form{
        @extend .fondo-blanco;
        margin-bottom: 15px;
        align-items: center;
        margin: 15px 0;
        padding: 20px 10px 10px 10px;
        font-family: "Special Elite", serif;
    }
        .logo-contacto{
            padding: 50px;
            opacity: 0.9;
        }


    input{
        color:#777;
    }
    }
