@use '../utilities/maps' as *;
@use '../utilities/mixins' as *;
@use '../components/inicio' as *;

.formulario-contacto{
    @extend .fondo-blanco;
    font-family: map-get($font-styles, parrafos);
    align-items: center;
    margin: 30px 0px;
    padding: 30px;
    input{
        color:#777;
    }
    .form-label{
        margin-bottom: 0;
        margin-top: 15px;
    }
}

.logo-contacto{
    padding: 50px;
    opacity: 0.9;
}

.datos-contacto{
    @include flex(column,center);
}


.carousel-item-edit{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 50px 0;
    align-items: center;
    background-color: transparent;
    text-align: center;
    background-image: url(/assets/img/imagenes-web/recorte-hoja.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    p:nth-child(2){
        text-align: center;
        color: gray;
    }
    p:hover{
        animation-name: resaltar;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
    }
}

.carousel-item.active {
    animation: none;
}