
.presentacion-proyecto{
    padding: 20px 30px;
}

.presentacion-proyecto p{
    margin-bottom: 2px;
}

.titulos-inicio img{
    max-width: 300px;
 }

.fondo-inicio{
   padding-right: 0;
   margin-bottom: 0;
   padding-bottom: 0;
}

.carousel{
    opacity: 0.9;
 }