@use '../utilities/maps' as *;
@use '../utilities/keyframes' as *;

img{
    width: 100%;
}

body{
    background-color: map-get($colors, bg);
    background-image: url(../assets/img/background-web.png);
    background-size: cover;
}

h1{
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: map-get($font-sizes, l); 
    padding: 15px 0 5px 0;
}

h2{
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
    font-size: map-get($font-sizes, m);
}

h3{
    font-family: "Special Elite", serif;
}

p{
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
    font-size: map-get($font-sizes, s);
}

.titulo-section{
    background-color: map-get($colors, secundario);
    color: map-get($colors, txt-i);
    padding: 5px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid map-get($colors, border);

    h1{
        font-size: map-get($font-sizes, m);
    }
}

.border{
    border: 1px ridge map-get($colors, border);
}

.presentacion-proyecto{
    padding: 20px 30px;
    p{
        margin-bottom: 2px;
    }
    p:hover{
        animation-name: resaltar;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
    }
}

.titulos-inicio img{
    max-width: 400px;
 }

.fondo-inicio{
   padding-right: 0;
   margin-bottom: 0;
   padding-bottom: 0;
}

.fondo-blanco{
    background-color: #fff;
    align-items: center;
    border: 1px ridge map-get($colors, border);
    box-shadow: 1px 2px 3px map-get($colors, shadow);
}