@use '../utilities/variables' as *;

img{
    width: 100%;
}

body{
    background-color: $bg-color;
    background-image: url(../assets/img/background-web.png);
    background-size: cover;
}

h1{
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: $txt-m;  
    padding: 15px 0 5px 0;
}

h2{
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
    font-size: $txt-l;
}

p{
    font-family: "Special Elite", serif;
    font-weight: 400;
    font-style: normal;
    font-size: $txt-s;
}

.titulo-section{
    background-color: $color-secundario;
    color: $txt-color-inverso;
    padding: 5px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-color;
}

.titulo-section h1{
    font-size: $txt-m;
}
.presentacion-proyecto{
    padding: 20px 30px;
}

.presentacion-proyecto p{
    margin-bottom: 2px;
}

.titulos-inicio img{
    max-width: 300px;
 }

.fondo-inicio{
   padding-right: 0;
   margin-bottom: 0;
   padding-bottom: 0;
}

.carousel{
    opacity: 0.9;
 }