@use '../utilities/variables' as *;

.navbar-edit{
    background-color: $bg-color;
    color: $color-primario;
    border-bottom: 1px solid $border-color;

    a{
        color: $color-primario;
        font-family: "Special Elite", serif;
        text-transform: none;
        font-size: 16px;
        padding: 2px;

        &:hover{
            text-decoration: underline;
            color: $color-primario; 
        }
    }

    .nav-link.active{
        background-color:$color-primario; 
        color: #fff;
        text-decoration: none;
    }
    .navbar-brand{
        max-width: 100px;
    }
    .navbar-brand:hover{
        text-decoration: none;
    }
}