@use '../utilities/maps' as *;

.navbar-edit{
    background-color: map-get($colors, bg);
    color: map-get($colors, primario);
    border-bottom: 1px solid map-get($colors, border);

    a{
        color: map-get($colors, primario);
        font-family: "Special Elite", serif;
        text-transform: none;
        font-size: 16px;
        padding: 2px;
        opacity: 0.7;
        &:hover{
            opacity: 1;
            color: map-get($colors, primario);
        }
    }

    .nav-link.active{
        background-color:map-get($colors, primario);
        color: #fff;
        text-decoration: none;
    }
    .navbar-brand{
        max-width: 100px;
    }
    .navbar-brand:hover{
        text-decoration: none;
    }
}