@use '../utilities/maps' as *;
@use '../components/inicio' as *;
@use '../utilities/mixins' as *;

.organizadora  {
    @include ficha-bios(left, center,space-around,10px 0,20px 0);

    &:nth-child(2){
        @include ficha-bios(right, center,space-around,10px 0,20px 0);
    }
}

.img-nosotras{
    @extend .border;
    box-shadow: 1px 2px 3px map-get($colors, shadow);
    padding: 2px;
}

.titulos-org{
    color:map-get($colors, primario);
}

.invitados{
    @extend .fondo-blanco;
    @include ficha-bios(center, center,space-around,50px 0 50px 0 ,10px 0 0 0 0);
         
    img{
        max-width: 200px;
        margin: 5px;
    }
}