@use '../utilities/maps' as *;
@use '../components/inicio' as *;

.organizadora {
    text-align: left;
    align-items: center;
    padding: 15px;

    h2{
        margin-bottom: 0;
    }

    div{
        margin-top: 10px ;
    }

    &.dos{
        text-align: right;
    }
}

.img-nosotras{
    @extend .border;
    box-shadow: 1px 2px 3px map-get($colors, shadow);
    padding: 2px;
}

.titulos-org{
    color:map-get($colors, primario);
}

.invitados{
    @extend .fondo-blanco;
    margin-top: 100px;
    padding: 20px 0;
    justify-content: space-around;
         
    img{
        max-width: 200px;
        margin: 5px;
    }
}