@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@keyframes nav-hover {
  0% {
    background-color: transparent;
    color: #c38b84;
    opacity: 0.9;
  }
  100% {
    background-color: #c38b84;
    color: #f0ede8;
    opacity: 1;
  }
}
@keyframes resaltar {
  0% {
    color: #111;
  }
  50% {
    color: rgb(166, 153, 83);
  }
  100% {
    color: #111;
  }
}
img {
  width: 100%;
}

body {
  background-color: #eff6fe;
  background-image: url(../assets/img/background-web.png);
  background-size: cover;
}

h1 {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  padding: 15px 0 5px 0;
}

h2 {
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

h3 {
  font-family: "Special Elite", serif;
}

p {
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.titulo-section {
  background-color: #a8a77a;
  color: #f0ede8;
  padding: 5px 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #777;
}
.titulo-section h1 {
  font-size: 2rem;
}

.border, .nuevo-evento img, .item-evento img, .img-nosotras {
  border: 1px ridge #777;
}

.presentacion-proyecto {
  padding: 20px 30px;
}
.presentacion-proyecto p {
  margin-bottom: 2px;
}
.presentacion-proyecto p:hover {
  animation-name: resaltar;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

.titulos-inicio img {
  max-width: 400px;
}

.fondo-inicio {
  padding-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.fondo-blanco, .contacto form, .nuevo-evento, .invitados {
  background-color: #fff;
  align-items: center;
  border: 1px ridge #777;
  box-shadow: 1px 2px 3px #ccc;
}

.navbar-edit {
  background-color: #eff6fe;
  color: #c38b84;
  border-bottom: 1px solid #777;
}
.navbar-edit a {
  color: #c38b84;
  font-family: "Special Elite", serif;
  text-transform: none;
  font-size: 16px;
  padding: 2px;
  opacity: 0.7;
}
.navbar-edit a:hover {
  opacity: 1;
  color: #c38b84;
}
.navbar-edit .nav-link.active {
  background-color: #c38b84;
  color: #fff;
  text-decoration: none;
}
.navbar-edit .navbar-brand {
  max-width: 100px;
}
.navbar-edit .navbar-brand:hover {
  text-decoration: none;
}

.active {
  animation-name: nav-hover;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.btn-edit, .btn-inactivo {
  background-color: #a8a77a;
  border: #ccc;
  color: #fff;
  opacity: 0.9;
}
.btn-edit:hover, .btn-inactivo:hover {
  opacity: 1;
  border: #111;
  color: #fff;
  background-color: #a8a77a;
}
.btn-edit:active, .btn-inactivo:active {
  background-color: #a8a77a;
}
.btn-edit:focus, .btn-inactivo:focus {
  background-color: #a8a77a;
}

.btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  background-color: #a8a77a;
}

.btn-inactivo {
  background-color: grey;
  color: #ccc;
}
.btn-inactivo:hover {
  background-color: grey;
  color: #ccc;
  cursor: default;
}

.redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
}
.redes-sociales a {
  text-decoration: none;
  max-width: 50px;
  margin-right: 2px;
  opacity: 0.8;
}
.redes-sociales a:hover {
  opacity: 1;
}

.organizadora {
  text-align: left;
  align-items: center;
  padding: 15px;
}
.organizadora h2 {
  margin-bottom: 0;
}
.organizadora div {
  margin-top: 10px;
}
.organizadora.dos {
  text-align: right;
}

.img-nosotras {
  box-shadow: 1px 2px 3px #ccc;
  padding: 2px;
}

.titulos-org {
  color: #c38b84;
}

.invitados {
  margin-top: 100px;
  padding: 20px 0;
  justify-content: space-around;
}
.invitados img {
  max-width: 200px;
  margin: 5px;
}

.item-evento {
  padding: 25px;
}
.item-evento img {
  box-shadow: 1px 2px 3px #ccc;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
.item-evento p {
  margin-bottom: 0;
  font-size: 1rem;
}
.item-evento p:nth-child(2) {
  color: #777;
  text-align: right;
}
.item-evento p:nth-child(3) {
  color: #111;
  text-align: justify;
}

.nuevo-evento {
  margin: 15px 0;
  padding: 20px 10px 10px 10px;
  display: flex;
  align-items: stretch;
}
.nuevo-evento span {
  font-weight: 700;
}
.nuevo-evento img {
  margin: 10px 0;
}
.nuevo-evento p {
  margin: 0px;
}

.fecha-prox-evento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #777;
  border-top: none;
  text-align: center;
  padding: 0;
  box-shadow: 1px 2px 2px #ccc;
}

.mes-anio {
  font-size: 2rem;
  background-color: #464e5d;
  color: #eff6fe;
  padding: 2px;
  border-bottom: 1px solid #777;
  margin-bottom: 0;
  text-transform: lowercase;
}

.num-día {
  font-size: 4rem;
  margin-bottom: 0;
}

.nuevo-evento {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.reserva {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacto form {
  margin-bottom: 15px;
  align-items: center;
  margin: 15px 0;
  padding: 20px 10px 10px 10px;
  font-family: "Special Elite", serif;
}
.contacto .logo-contacto {
  padding: 50px;
  opacity: 0.9;
}
.contacto input {
  color: #777;
}

.datos-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #a8a77a;
  padding: 15px 0;
  border-top: 1px solid #777;
}
footer p {
  color: #f0ede8;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .presentacion-proyecto {
    text-align: center;
  }
  .redes-sociales {
    justify-content: center;
  }
  .nosotras p {
    text-align: center;
  }
  .nosotras h2 {
    text-align: center;
  }
  .item-evento {
    text-align: center;
  }
  .item-evento img {
    height: 400px;
    object-position: top;
  }
  .fondo-inicio img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }
  .datos-evento {
    padding: 10px;
  }
}
@media (max-width: 991px) {
  .navbar-edit {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .navbar-edit a {
    font-size: 18px;
    padding: 2px 4px;
    margin: 4px 0;
  }
  .datos-evento {
    padding: 10px;
  }
  .reserva {
    padding: 10px;
  }
  .num-día {
    font-size: 6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
