*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #f0ede8;
}
  
/*HEADER*/

.navbar-edit{
    background-color: #c38b84;
    color: #f0ede8;
}

.navbar-edit a{
    color: #f0ede8;
}

.navbar-edit a:hover{
    text-decoration: underline;
    color:#f0ede8;
}
.navbar-edit a:hover{
    text-decoration: underline;
    color:#f0ede8;
}
.navbar-edit .nav-link.active{
    text-decoration: underline;
    color:#f0ede8;
}

.navbar-edit p{
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
}

.navbar-edit .navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

}

.navbar-edit .navbar-brand:hover{
    text-decoration: none;
}
.navbar-brand img{
    max-width: 25px;
}

/*MAIN*/

h1{
    font-family: "Handlee", serif;
    text-transform: uppercase;
    font-size: 40px;  
}

h2{
    font-family: "Cedarville Cursive", serif;
    font-size: 30px;
    font-weight: 500;
}

p{
    font-family: "Handlee", serif;
    font-size: 16px;
}

.redes-sociales img{
    width: 40px;
}

.redes-sociales a{
    text-decoration: none;
}

/*FOOTER*/

footer{
    background-color: #c6a9a3;
}

footer p{
    color:#f0ede8;
    text-align: center;
}
